
@model List<Kutuphane_Otomasyonu.Model.Kitaplar>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form action="Index">
    <label style="font-weight:bold">Kitap Ara :</label>
    @Html.TextBox("ara")
    <button class="btn btn-success m-2" type="submit"><i class="fa fa-search"></i>&nbsp;Ara</button>
</form>

<div class="row">
    <div class="col-lg">
        <div class="ibox">
            <div class="ibox-head">
                <h2>Kitap Listesi</h2>

            </div>

            <div class="ibox-body">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Barkod No</th>
                            <th>Kitap Adı</th>
                            <th>Yazarı</th>
                            <th>Kitap Türü</th>
                            <th>Eklenme Tarihi</th>
                            <th class="text-center">İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th>@Html.DisplayFor(x => item.Id)</th>
                                <td>@Html.DisplayFor(x => item.BarkodNo)</td>
                                <td>@Html.DisplayFor(x => item.KitapAdi)</td>
                                <td>@Html.DisplayFor(x => item.Yazarlar.YazarAdi)</td>
                                <td>@Html.DisplayFor(x => item.KitapTurleri.KitapTuru)</td>
                                <td>@Html.DisplayFor(x => item.EklenmeTarihi)</td>
                                <td class="text-center">
                                    @Html.ActionLink("Düzenle", "Duzenle", new { id = item.Id }, new { @class = "btn btn-warning btn-sm" })
                                    @Html.ActionLink("Detay", "Detay", new { id = item.Id }, new { @class = "btn btn-info btn-sm" })
                                    @Html.ActionLink("Sil", "Sil", new { id = item.Id }, new { @class = "btn btn-danger btn-sm", onclick = "return confirm('Kitap Silinsin Mi ?')" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <a href="/Kitaplar/Ekle" class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp;Yeni</a>
            </div>

        </div>
    </div>
</div>

